*, *::after, *::before {
  box-sizing: border-box;
  font-family: inherit;
}

body {
  margin: 0;
  font-family:  'Overpass', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
